
p
{
	font-size: 4.2mm;
	font-family: "Minion Pro", sans-serif;
	color: black;
}
h3
{
	font-size: 5mm;
	font-family: "Trajan Pro", sans-serif;
	color: black;
	font-weight: bold;
}
h1.name 
{
	font-size: 15mm;
	font-style: bold;
	font-family: "Trajan Pro", sans-serif;
	margin-top: 15mm;
	padding-bottom: 0mm;
	margin-bottom: 0mm;
	text-decoration: none;
	color: black;
}
a.name
{
	text-decoration: none;
	color: black;
}



div.buttons 
{
	font-size: 5mm;
	font-family: "Trajan Pro", sans-serif;
}

div.navbar
{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10mm;
	margin-left: 3mm;
	margin-top: 0mm;
	margin-bottom: 5mm;
}

a.link
{
	text-decoration: none;
	color: black;
	padding-top: 1mm;
	padding-bottom: 2mm;
	padding-right: 3.5mm;
	padding-left: 3.5mm;
}

a.link:hover
{
	color: #bfbfbf;
	font-style: bold;
	border-radius: 3mm;
}

a.link:active
{
	background-color: #e0e0e0;
	border-radius: 3mm;
	color: white;
	font-style: bold;
}

a.select
{
	color: #bfbfbf;
	background-color: white;
	border-radius: 3mm;

}


li.link
{
	text-transform: uppercase;
	font-family: "Trajan Pro", sans-serif;
	font-size: 3.8mm;
	display: inline-block;
	justify-content: flex-start;
	padding-top: 1.5mm;
	padding-bottom: 2mm;
}


div.socialmedia
{
	display: flex;
	justify-content: flex-end;
	align-items: right;
	align-self: right;
	align-content: right;
	padding-top: .5mm;
	padding-bottom: .5mm;
	padding-right: 5mm;
	padding-left: 5mm;
}
.smicon
{
	height: 8mm;
	width: 8mm;
	padding-right: 2mm;
}

.smicon:hover
{
	opacity: 60%;
	transition: .5s ease;
}




.main
{

	margin-top:  0mm;
	margin-bottom: 15mm;
	margin-right: 80mm;
	margin-left: 80mm;
}

.container
{
	display: flex;
	justify-content: space-around;
	padding: 2mm;
}
.block
{
	padding: 5mm;
	display: inline-block;
}

img.bookpic
{
	height: 75mm;
}


div.booktext
{
	display: inline-block;
	padding: 2mm;
	margin-right: 20%;
}
h3.booktext
{
	font-size: 5mm;
	font-family: "Trajan Pro", sans-serif;
	color: black;
	font-weight: bold;
	padding-bottom: 0;
}

a.booktext
{
	font-size: 4.2mm;
	font-family: "Minion Pro", sans-serif;
	color: #bfbfbf;
	text-decoration: none;
}
a.booktext:hover
{
	color: black;
}
a.booktext:active
{
	background-color: #e0e0e0;
	border-radius: 3mm;
	color: white;
	padding: 1mm;
}

p.footertext
{
	font-size: 3mm;
	font-family: "Minion Pro", sans-serif;
	color: black;
	padding-top: 22mm;
}
div.footer
{
	display: flex;
	justify-content: center;

}