








*{
	margin: 0;
	padding: 0;
}
body, h1, h2, h3, h4, h5{
	font-family: 'Montserrat', sans-serif;
}

.phone-photo{
	display: none;
}
.desktop-photo{
	display: block;
	width: 50%;
}
.nav-logo{
	font-family: 'Raleway', sans-serif;
	padding-left: 10px;
	text-transform: uppercase;
	letter-spacing: .2em;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: black;
}
.nav-logo:hover{
	opacity: 100%;
}
.heart{
	color: #eb6c73;
}

.nav-links{
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	text-decoration: none;
	color: #777;
	padding: 3px 15px;
}
.active{
	background-color: #f79ea2;
	color: white;
}
.navbar-right{
	flex: 1; 
	align-self: center; 
	text-align: right;
}
.navbar-container{
	display: flex; 
	background-color: white;
	position: fixed;
	width: 100%;
	transition: 0.2s;
	top: 0;
	z-index: 99;
	overflow: hidden;
	padding: 30px 0px;
}
.navbar-left{
	flex: 1; 
	align-self: center;
}

.first-block-logo{
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	letter-spacing: .05em;
	font-size: 45px;
	color: black;
}
.first-block-quote{
	text-decoration: underline;
	font-style: italic;
	color: #bd0059;
	padding: 7px 0px;
}
a:hover{
	opacity: 50%;
}
a:active{
	opacity: 100%;
}
.no-fade{
	opacity: 100%;
}
.no-fade:hover{
	opacity: 100%;
}


.novel-icon{
	width: 250px;
	vertical-align: top;
	transition-duration: .1s;
}
.novel-icon:hover{
	width: 300px;

}
.sm{
	color: #f79ea2;
	font-size: 30px; 
	margin-top: 10px;
}

.accordion{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	background-color: #eee;
  	color: black;
  	cursor: pointer;
  	padding: 18px;
  	width: 100%;
 	text-align: left;
  	border: none;
  	outline: none;
  	transition: 0.4s;
}
.active, .accordion:hover{
	background-color: #f79ea2;
}

.panel {
	font-family: 'Montserrat', sans-serif;
	padding: 10px 18px;
	background-color: #eee;
	display: none;
	overflow: hidden;
	font-size: 14px;
  }


  ::placeholder{
	color: white;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bolder;
	text-transform: uppercase;
  }
  #consent, .contact-form-para{
	color: white;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bolder;
	text-transform: uppercase;
  }
  .contactformheader{
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: bolder;
	text-transform: uppercase;
  }


  #submitform{
	background-color: white; 
	color: #537f96; 
	border:none; 
	font-size: 14px;  
	width: 100%;  
	height: 50px; 
	font-family: 'Montserrat', sans-serif;
	font-weight: bolder;
	text-transform: uppercase;
  }
  #submitform:hover{
	background-color: #537f96; 
	color: white; 
  }

  #submitagent{
	background-color: white; 
	color: #454D60; 
	border:none; 
	font-size: 16px;  
	width: 100%;  
	height: 50px; 
	font-family: 'Montserrat', sans-serif;
	font-weight: bolder;
	text-transform: uppercase;
  }
  #submitagent:hover{
	background-color: #454D60; 
	color: white; 
  }

/*For all pages*/
  .flex-one{
	  flex:1;
  }
  .main-content-container{
	  display: flex; 
	  flex-direction: column;
  }
  .nav-padding{
	display: block; 
	margin-top: 40px;
  }

  .black-line{
	display: inline-block; 
	background-color: black; 
	height: 5px;
  }

  .block-button{
	padding: 10px; 
	color: white; 
	text-decoration: none; 
	font-family: 'Raleway', sans-serif; 
	font-weight: bold; 
	letter-spacing: .3em;
}


/* FOOTER FORMAT */
.footer-flex-one{
	flex: 1; 
	text-align: center;
}

.footer-para{
	color: white; 
	font-size: 12px;
}
.footer-link-color{
	color: pink;
}

  /*Home Page*/
  .home-first-block-container{
	flex: 1; 
	padding: 260px 0; 
	justify-content: center; 
	align-items: center; 
	background-image: url(photos/bg13.jpg); 
	background-size:cover;
  } 
  .first-block-white{
	flex: 1; 
	text-align: center; 
	max-width: 750px; 
	padding: 20px; 
	background: rgba(255, 255, 255, 0.8)
  }
  .first-block-flex{
	display: flex; 
	justify-content: center; 
	padding: 70px 0px;
  }
  .first-block-para{
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color: #777;
}

  .second-block-novel-background{
	flex: 1; 
	background-image: url(photos/dm2.jpg); 
	background-size:cover;
  }

  .second-block-flex{
	display: flex; 
	padding: 100px 0;
  }

  .second-block-flex-one{
	  flex: 1; 
	  margin-left: 100px; 
	  text-align: center;
  }

  .second-block-flex-two{
	  flex: 2; 
	  padding: 48px 10px;
  }
.second-block-ebook{
	font-size: 30px;
}

.second-block-title{
	font-size: 50px; 
	font-weight: bolder;
}
.second-block-p{
	padding: 20px 0px; 
	font-size: 18; 
	margin-bottom: 10px; 
	width: 85%;
}
.second-block-button{
	background-color: #d682a3; 
}

.main-dear-photo{
	width: 400px;
}

.third-block-background{
	flex: 1; 
	background-image: url(photos/me2.jpg); 
	background-size:cover;
}
.third-block-flex{
	display: flex; 
	padding: 250px 0; 
	text-align: center; 
	justify-content: center;
}
.third-block-white-bg{
	flex:1;
	background: rgba(255,255,255, 0.8); 
	padding: 50px 10px;
	margin-left: 50;
	margin-right: 70px;
}
.third-block-para{
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color: #777;
	padding: 10px;
}
.third-block-button-container{
	margin-top: 20px;
}
.third-block-button{
	background-color: #0d93e0; 
}
.fourth-block-background{
	flex: 1; 
	background-image: url(photos/fl1.jpg); 
	background-size:cover;
}
.fourth-block-flex{
	display: flex; 
	height: 800px; 
	padding-top: 100px; 
	text-align: center; 
	justify-content: center;
}


.fourth-block-novels a{
	opacity: 100%;
}

.fourth-block-novel-background{
	background-color: rgba(0, 0, 0, 0.6); 
	margin: 10px auto; 
	width: 600px; 
	padding-bottom: 10px;
}

.fourth-block-logo{
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	letter-spacing: .05em;
	font-size: 45px;
	color: white;
}

.fourth-block-para{
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color: white;
}

.footer-container{
	flex: 1; 
	background-color: black; 
	justify-self: center;
}

.footer-display{
	display: flex; 
	width: 100%; 
	background-color: black; 
	position: absolute; 
	padding: 30px 0px;
}

/*ABOUT PAGE*/


.about-main-background{
	flex: 1; 
	padding: 260px 0; 
	justify-content: center; 
	align-items: center; 
	background-image: url(photos/fl2.jpg); 
	background-size:cover;
}
.about-container{
	display: flex; 
	justify-content: center; 
	padding: 70px 0px;
}
.about-flex-one{
	flex: 1; 
	text-align: center; 
	max-width: 750px; 
	padding: 20px; 
	background: rgba(255, 255, 255, 0.8)
}
.about-quote{
	text-decoration: none;
}
.about-display-flex{
	display: flex; 
	margin: 20px;
}
.about-photo-padding{
	padding: 50px 0px;
	width: 350px;
}
.about-flex-two{
	flex: 2; 
	text-align: left; 
	padding: 20px;
}
.about-quote{
	font-style: italic; 
	text-align: center;
}
.about-header{
	text-transform: uppercase; 
	text-align: left; 
	padding-bottom: 5px;
}
.about-line-height{
	line-height: 1.5;
}
.about-photo-container{
	flex: 1; 
	text-align: right;
}
.faq-container{
	display: flex; 
	padding: 60px 0; 
	background-image: url(photos/bg7.jpg); 
	background-size: cover;
}
.faq-flex-two{
	flex: 2; 
	text-align: center;
}
.faq-header{
	text-transform: uppercase; 
	color: black; 
	background-color: rgba(255, 255, 255, .8); 
	padding: 5px 2px;
}
.faq-left{
	text-align: left; 
	padding-top: 20px;
}
.dear-background{
	flex: 1; 
	background-image: url(photos/dm2.jpg); 
	background-size:cover;
}
.dear-flex{
	display: flex; 
	padding: 10px 0;
}
.dear-flex-one{
	flex: 1; 
	margin-left: 120px; 
	text-align: center;
}
.dear-flex-two{
	flex: 2; 
	padding: 30px 10px; 
	margin-right: 70px;
}

.dear-ebook{
	font-size: 20px;
}
.dear-header{
	font-size: 35px; 
	font-weight: bolder;
}
.dear-para{
	padding: 20px 0px; 
	font-size: 16; 
	margin-bottom: 10px; 
	width: 85%;
}
/*NOVELS*/
.novels-background{
	flex: 1; 
	padding: 260px 0; 
	justify-content: center; 
	align-items: center; 
	background-image: url(photos/bg12.jpg); 
	background-size:cover;
}
.novels-container{
	display: flex; 
	justify-content: center; 
	padding: 70px 0px;
}
.novels-flex{
	flex: 1; 
	text-align: center; 
	max-width: 750px; 
	padding: 20px; 
	background: rgba(255, 255, 255, 0.8);
}
.nm-flex{
	display: flex; 
	flex-direction: row; 
	text-align: center;
}
.nm-photo-container{
	flex: 1; 
	background-color: #3a5c4b;
}
.novel-photos{
	padding: 30px 0px; 
	height: 500px;
}
.nm-para-container{
	flex: 1; 
	background-color: #161f3c; 
	padding-top: 150px;
}
.novel-info-header{
	color: white; 
	letter-spacing: .4em;
}
.novel-subtext{
	color: white; 
	padding-top: 20px; 
	font-style: italic; 
	font-size: 12px;
}
.novel-descript{
	color: white; 
	padding: 40px 80px 50px 80px; 
	font-size: 16px;
}
.nm-color{
	color: #55826b; 
}
.nm-button-color{
 background-color: #55826b;
}
.novel-button{
	padding: 10px; 
	color: white; 
	text-decoration: none; 
	font-family: 'Raleway', sans-serif; 
	font-weight: bold; 
	letter-spacing: .3em;
}
.sm-color{
	color: #52746e; 
}
.sm-button-color{
	background: #52746e;
}

.rain-color{
	color: #485c62; 
}
.rain-button-color{
	background-color: #485c62;
}

.lyn-color{
	color: #d3ceca; 
}
.lyn-button-color{
	background-color: #e08e62;
}
.genre{
	padding-top: 20px; 
	text-transform: uppercase; 
	font-weight: bold;
}
.sm-flex{
	display: flex; 
	flex-direction: row; 
	text-align: center;
}
.sm-para-container{
	flex: 1; 
	background-color: #2d4161; 
	padding-top: 150px;
}
.sm-photo-container{
	flex: 1; 
	background-color: #52746e;
}
.rain-flex{
	display: flex; 
	flex-direction: row; 
	text-align: center;
}
.rain-photo-container{
	flex: 1; 
	background-color: #485c62;
}
.rain-para-container{
	flex: 1; 
	background-color: #172b32; 
	padding-top: 150px;
}
.lyn-flex{
	display: flex; flex-direction: row; 
	text-align: center;
}
.lyn-para-container{
	flex: 1; 
	background-color: #6c97a1; 
	padding-top: 150px;
}
.lyn-photo-container{
	flex: 1; 
	background-color: #d3ceca;
}


/*CONTACT PAGE*/
.contact-color{
	background-color: #43758f;
}
.color-white{
	color: white;
}
.contact-social-container{
	background-color: #325e75; 
	padding-top: 150px;
}

.contact-form-link{
	margin: 40px 0px; 
	color: white; 
	font-style: italic;
}
.contact-form-container{
	flex: 1; 
	text-align:center; 
	padding: 50px 0px;
}
.contact-form-bg-color{
	background-color: #537f96; 
}
.agent-contact-form-bg-color{
	background-color: #454D60;
}
.contact-form-form{
	display: inline-block; 
	text-align:center; 
	width: 1200px;
}

.contact-form-input{
	padding-left: 20px;
	border: 2px solid white; 
	border-radius: 5px;
	font-size: 14px; 
	color:white; 
	width: 600px; 
	height: 50px;
}

.float-left{
	float: left; 
}
.contact-color{
	color:#537f96;
}

.contact-form-subject{
	font-size: 14px; 
	font-family: 'Montserrat', sans-serif; 
	font-weight: bolder; 
	padding-left: 20px;
	border: 2px solid white; 
	border-radius: 5px; 
	background-color: white; 
	font-size: 14px; 
	width: 100%; 
	height: 50px;
}
.contact-form-text-container{
	border: 3px solid white; 
	border-radius: 5px;
}
.contact-form-text{
	color:white; 
	padding-left: 20px; 
	padding-top: 10px; 
	font-size:14px;
	border:none; 
	width: 100%; 
	height: 150px;
}
.contact-form-consent{
	padding: 25px 0px; 
	border: 2px solid white; 
	border-radius: 5px; 
	text-align: center;
}
.contact-form-submit{
	border: 2px solid white; 
	border-radius: 5px;
}
.contact-container{
	flex: 1; 
	padding: 260px 0; 
	justify-content: center; 
	align-items: center; 
	background-image: url(photos/bg1.jpg); 
	background-size:cover;
}
.agent-contact-container{
	flex: 1; 
	padding: 260px 0; 
	justify-content: center; 
	align-items: center; 
	background-image: url(photos/bg10.jpg); 
	background-size:cover;
}
.contact-padding{
	display: flex; 
	justify-content: center; 
	padding: 70px 0px;
}
.contact-white-background{
	flex: 1; 
	text-align: center; 
	max-width: 750px; 
	padding: 20px; 
	background: rgba(255, 255, 255, 0.8);
}




/*AGENT CONTACT PAGE*/
.agent-contact-color{
	background-color: #596788;
}

.agent-contact-social-container{
	background-color: #4f5a74; 
	padding-top: 150px;
}

.contact-color{
	color:#596788;
}
.agent-field{
	padding-left: 20px;
	border: 2px solid white; 
	border-radius: 5px;
	background-color: #454D60;
	font-size: 14px; 
	color:white; 
	width: 100%; 
	height: 50px
}
.agent-contact-link{
	margin: 40px 0px; 
	color: white; 
	font-style: italic;
}






/*for half sized desktop window*/
@media only screen and (max-width: 837px) and (min-width: 401px){
	/*HOME PAGE*/
	.nav-logo{
		font-size: 25px;
	}
	.nav-links{
		padding: 3px 10px;
	}
	.navbar-right{
		text-align: left;
	}
	.first-block-logo{
		font-size: 35px;
	}
	.main-dear-photo{
		width: 300px;
	}
	.second-block-ebook{
		font-size: 20px;
		margin-top: 20px;
	}
	.second-block-title{
		font-size: 35px;
	}
	.second-block-p{
		font-size: 14px;
		margin-bottom: 5px;
		padding-top: 5px;
	}
	.block-button{
		padding: 6px;
		font-size: 14px;
	}
	.second-block-flex-two{ 
		padding: 13px 10px;
	}
	.third-block-white-bg{
		flex: 3;
		padding: 50px 10px;
		margin-left: 30;
		margin-right: 0px;
	}
	.fourth-block-logo{
		font-size: 35px;
	}
	.fourth-block-para{
		font-size: 15px;
	}
	.fourth-block-flex{
		height: 600px; 
	}
	.novel-icon{
		width: 150px;
	}
	.novel-icon:hover{
		width: 200px;
	}

	.footer-display{
		padding: 15px 0px;
	}
	.footer-para{
		font-size: 10px;
	}
	/*ABOUT PAGE*/
	.about-photo-padding{
		padding: 25px 0px;
		width: auto;
		height: 200px
	}
	.about-display-flex{
		display: block; 
		margin: 20px;
	}
	.about-photo-container{
		text-align: center;
	}
	.faq-flex-two{
		flex: 4; 
	}
	.faq-header{
		font-size: 30px;
	}
	.faq-container{
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
	.dear-media{
		padding-top: 30px;
	}
	/*NOVELS PAGE*/
	.novel-dear-media{
		padding-top: 30px;
	}
	.novel-photos{
		padding: 80px 0px; 
		height: 400px;
	}
	.novel-info-header{
		font-size: 28px;
		letter-spacing: .15em;
	}
	.genre{
		padding-top: 20px; 
		font-size: 16px;
	}
	.novel-subtext{
		padding-top: 20px; 
		font-size: 14px;
	}
	.novel-descript{
		padding: 20px 20px 50px 20px; 
		font-size: 14px;
	}
	.nm-para-container{
		padding: 130px 0px;
	}
	.sm-para-container{
		padding: 130px 0px;
	}
	.rain-para-container{
		padding: 130px 0px;
	}
	.lyn-para-container{
		padding: 130px 0px;
	}
	/*CONTACT PAGE*/
	.contactformheader{
		font-size:30px;
	  }
	.contact-form-link{
		font-size: 14px;
		padding: 0px 30px;
	}
	.contact-form-para{
		padding: 0px 40px;
		text-align: center;
	}
	.contact-form-form{
		width: 750px;
	}
	.contact-form-input{
		font-size: 12px; 
		width: 375px; 
	}
	::placeholder{
		font-size: 12px;
		font-weight: bold;
	}
	#consent{
		font-size: 12px;
		font-weight: bold;
	}

	.social-header{
		font-size: 25px;
	}
	.social-para{
		font-size: 14px;
	}
	.agent-contact-social-container, .contact-social-container{
		padding-top: 170px;
	}
	.social-book{
		padding: 40px 0px; 
		height: 350px;
	}
	.agent-contact-link{
		font-size: 14px;
	}

}



@media only screen and (max-width: 400px)
{
	/*HOME PAGE*/
	.nav-logo{
		font-size: 20px;
	}
	.nav-links{
		font-size: 8px;
	}
	.navbar-right{
		padding-top: 10px;
		text-align: left;
	}
	.navbar-container{
		display: block; 
		padding: 10px 0px;
	}


	/*First block*/
	.home-first-block-container{
		padding: 140px 0; 
	} 
	.first-block-quote{
		font-size: 14px;
	}
	.first-block-para{
		font-size: 14px;
	}
	.first-block-logo{
		font-size: 25px;
	}


	/*Second block*/
	.second-block-flex{
		display: block;
		text-align: center;
		padding: 80px 0px;
	}
	.second-block-flex-one{
		display: block;
		margin: 0px;
		flex: 0;
	}
	.main-dear-photo{
		width: 200px;
		text-align: center;
		padding: 0px;
	}
	.second-block-ebook{
		font-size: 15px;
		margin-top: 0px;
	}
	.second-block-title{
		font-size: 30px;
	}
	.second-block-p{
		font-size: 14px;
		margin-bottom: 5px;
		padding-top: 10px;
		display: inline-block;
	}
	.block-button{
		padding: 6px;
		font-size: 14px;
	}
	.second-block-flex-two{ 
		padding: 13px 10px;
	}


	/*Third Block*/
	.third-block-flex{
		display: block;
		text-align: center;
		padding: 170px 0px;
	}
	.third-block-white-bg{
		display: block;
		padding: 50px 10px;
		margin: 0px;
	}
	.third-block-para{
		font-size: 14px;
	}


	/*Fourth Block*/
	.fourth-block-logo{
		font-size: 30px;
	}
	.fourth-block-para{
		font-size: 14px;
		padding: 0px 5px
	}
	.fourth-block-flex{
		height: 800px; 
		display: block;
	}
	.fourth-block-novel-background{
		width: 100%;
		margin: 0px;
		padding-bottom: 20px;
	}

	.novel-icon{
		width: 150px;
	}
	.novel-icon:hover{
		width: 150px;
	}

	.footer-display{
		padding: 15px 0px;
	}
	.footer-para{
		font-size: 8px;
	}




	/*ABOUT PAGE*/
	.about-photo-padding{
		padding: 0px 0px;
		width: 300px;
		height: auto;
	}
	.about-display-flex{
		display: block; 
		margin: 20px;
	}
	.about-photo-container{
		text-align: center;
	}
	.faq-flex-two{
		flex: 4; 
	}
	.faq-header{
		font-size: 30px;
	}
	.faq-container{
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
	.dear-flex{
		display: block;
		padding: 165px 0px;
	}
	.dear-flex-one{
		margin: 0;
	}
	.dear-media{
		padding-top: 5px;
	}
	.dear-flex-two{
		padding:0;
		margin:0;
		text-align: center;
	}
	.dear-ebook{
		font-size: 15px;
	}
	.dear-header{
		font-size: 30px;
	}
	.dear-para{
		font-size: 14px;
		width: 100%;
		margin:0;
	}
	
	/*NOVELS PAGE*/
	.novels-background{
		padding: 140px 0;
	}
	
	.nm-flex{
		display: block;
	}
	.sm-flex{
		display: block;
	}
	.lyn-flex{
		display: block;
	}
	.rain-flex{
		display: block;
	}
	.novel-dear-media{
		padding-top: 30px;
	}
	.novel-photos{
		padding: 10px 0px; 
		height: 200px;
	}
	.novel-info-header{
		font-size: 20px;
		letter-spacing: .15em;
	}
	.genre{
		padding-top: 5px; 
		font-size: 14px;
	}
	.novel-subtext{
		padding-top: 5px; 
		font-size: 12px;
	}
	.novel-descript{
		padding: 10px 30px 20px 30px; 
		font-size: 12px;
	}
	.novel-button{
		font-size: 10px;
	}
	.lyn-para-container, .rain-para-container, .sm-para-container, .nm-para-container{
		padding: 20px 0px;
	}
	.phone-photo{
		display: flex;
		text-align: center;
	}
	.desktop-photo{
		display: none;
	}

	/*CONTACT PAGE*/
	.contactformheader{
		font-size:30px;
	  }
	.contact-form-link{
		font-size: 14px;
		padding: 0px;
	}
	.contact-form-para{
		padding: 0px 10px;
		text-align: center;
	}
	.contact-form-subject{
		font-size: 10px;
	}
	.contact-form-form{
		width: 350px;
	}
	.contact-form-input{
		font-size: 10px; 
		width: 350px; 
	}
	::placeholder{
		font-size: 10px;
		font-weight: bold;
	}
	#consent{
		font-size: 10px;
		font-weight: bold;
	}
	#submitagent, #submitform{
		font-size: 12px;
	}
	.social-header{
		font-size: 20px;
	}
	.social-para{
		font-size: 14px;
	}
	.agent-contact-social-container, .contact-social-container{
		padding: 20px 0px;
		
	}
	.social-book{
		display:none;
	}
	.agent-contact-link{
		font-size: 14px;
	}
	.agent-contact-container{
		padding: 140px 0;
	}
	.contactformheader{
		font-size: 28px;
	}

	
}